body{
    background-color: whitesmoke;
    font-family: sans-serif,"lucida console",monospace;
}
h1{
    text-align: center;
    font-size: 80px;
}
h2{
    font-weight: bold;
    font-size: 40px;
}
 li a{
    text-decoration: none;
    color: black;
    font-size:30px ;
    fon
}